<!-- Contact -->
<section id="contact" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Contact</h2>
			<p>If you'd like to get in touch, please contact me via the form below.</p>
		</header>
		<form action="https://formspree.io/{{ site.email }}" method="post">
			<input type="text" name="name" placeholder="Your email"><br>
			<input type="text" name="mail" placeholder="Your name"><br>
			<textarea type="text" name="message" placeholder="Your message"></textarea><br><br>
			<input type="submit" value="Send" class="button small special">
			<input type="reset" value="Reset" class="button small">
		</form>
	</div>
</section>
